@import "tailwindcss";
.input {
  @apply border p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400;
}

.textarea {
  @apply border p-3 rounded-lg w-full focus:outline-none focus:ring-2 focus:ring-indigo-400;
}
